/* Root variables
   Definicje kolorów używanych w całej stronie.
   --bg-color, --bg2-color: Główne kolory tła.
   --blue, --black-color, --white-color, --gray-color: Podstawowe kolory tekstu i elementów.
   --red-color, --red2-color: Odcienie czerwieni używane dla elementów interaktywnych i akcentów.
   --first-color do --ten-color: Zdefiniowana paleta kolorów dla spójnego projektowania.
*/

/* Body Styles
   Definicje stylów dla całego dokumentu.
   background-color: Tło strony.
   font-family: Główna czcionka.
   line-height: Wysokość linii tekstu.
   justify-content, align-items: Wyrównanie elementów.
   display: Typ wyświetlania.
   flex-direction: Kierunek elementów flex.
   min-height: Minimalna wysokość.
   margin, padding: Marginesy i wypełnienia.
   overflow-x: Ukrywanie poziomego przewijania.
*/

/* Header Styles
   .header: Style dla głównego nagłówka.
   margin-top, height, display, align-items, justify-content, text-align: Ustawienia wyświetlania i rozmieszczenia.
*/

/* Loading Bars
   .loading-top, .loading-bottom: Style dla górnej i dolnej belki ładowania.
   position, left, width, height, background, z-index: Ustawienia pozycji i wyglądu.
*/

/* Blur Background
   .blur-background: Style dla rozmytego tła za elementami.
   position, top, left, width, height, background-image, background-size, background-position, filter, z-index: Definicje tła i efektu rozmycia.
*/

/* Header Text
   .header__text: Style dla tekstu w nagłówku.
   .header__text--colorized: Dodatkowe style dla wyróżnionego tekstu.
   font-size, color, margin-bottom, transition, text-shadow: Stylizacja tekstu.
*/

/* Call to Action Button
   .header__cta: Style dla przycisku akcji (np. zachęta do działania).
   text-decoration, color, font-size, background-color, padding, border-radius, transition: Definicje wyglądu i animacji przycisku.
*/

/* Navigation Bar
   .navbar: Style dla paska nawigacji.
   .logo img: Style dla obrazka logo.
   nav: Style dla nawigacji.
   nav ul, nav ul li, nav ul li a: Style dla listy nawigacyjnej i jej elementów.
   .nav__item: Style dla poszczególnych elementów nawigacji.
   #hamburger, input#toggle: Style dla menu hamburgerowego (dla mniejszych ekranów).
*/

/* Main Content
   main: Style dla głównej sekcji treści.
   margin-top, margin-bottom: Marginesy od góry i dołu.
*/

/* Section Heading
   .section__heading: Style dla nagłówków sekcji.
   font-size, color, margin-bottom: Definicje wyglądu nagłówka.
*/

/* Footer Styles
   footer: Style dla stopki.
   .footer__text, .footer__link: Style dla tekstu i linków w stopce.
   color, text-align, width: Ustawienia tekstu i linków.
   footer img: Style dla obrazków w stopce.
*/

/* Gallery Styles
   .gallery-heading: Style dla nagłówka galerii.
   .gallery-container: Kontener dla galerii.
   #gallery: Style dla siatki galerii.
   #gallery img: Style dla obrazów w galerii.
*/

/* Media Queries
   Zestaw reguł CSS stosowanych dla różnych rozmiarów urządzeń (responsywność).
   @media (max-width: 768px), (max-width: 650px), (min-width: 768px) and (max-width: 1199px), (min-width: 1200px): Punkt przełamania i stylów dla różnych rozdzielczości ekranu.
*/

/* Specific Media Query Examples
   Przykłady użycia media queries do zmiany układu siatki galerii i menu nawigacyjnego na mniejszych ekranach.
   #hamburger, .navbar, nav ul: Zmiany w menu nawigacyjnym dla mniejszych ekranów.
   #gallery: Zmiany w układzie siatki galerii.
*/

:root {
    --bg-color: #d1c6c6;
    --bg2-color: #6693af;
    --blue: #0033a0;
    --black-color: #000;
    --white-color: #fefefe;
    --gray-color: gray;
    --red-color: #f55;
    --red2-color: #f40;
    --first-color: #193242;
    --second-color: #375465;
    --third-color: #183141;
    --fourth-color: #1a3344;
    --fifth-color: #385566;
    --sixth-color: #355264;
    --seventh-color: #1d384a;
    --eighth-color: #1e394b;
    --ninth-color: #395667;
    --ten-color: #203a4d;
}

body {
    background-color: var(--bg2-color);
    font-family: "Roboto", sans-serif;
    line-height: 1.6;
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.header {
    margin-top: 60px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.loading-top, .loading-bottom {
    position: fixed;
    left: 0;
    width: 100vw;
    height: 4px; 
    background: linear-gradient(to right, rgb(68, 0, 255), rgb(0, 17, 255), rgb(0, 162, 255), rgb(49, 0, 128), blue, rgb(35, 0, 130), rgb(130, 195, 238));
    z-index: 1000;
}
  
.loading-top {
    top: 0;
    z-index: 1001;
}
  
.loading-bottom {
    bottom: 0;
    z-index: 1000;
}

.blur-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url("../img/bg.png");
    background-size: cover;
    background-position: center;
    filter: blur(10px);
    z-index: -1;
}

.header__text {
    font-size: 2.5rem;
    color: var(--white-color);
    margin-bottom: 1rem;
    transition: transform 0.2s;
    text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.7);
}

.header__text:hover {
    transform: scale(0.8);
}

.header__text--colorized {
    color: var(--red-color);
    font-weight: bold;
}

.header__cta {
    text-decoration: none;
    color: var(--white-color);
    font-size: 1.2rem;
    background-color: var(--red-color);
    padding: 0.7rem 2rem;
    border-radius: 5px;
    transition: transform 0.2s;
}

.header__cta:hover {
    text-decoration: underline;
    cursor: pointer;
    transform: scale(1.2);
    background-color: var(--red2-color)
}


.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: var(--seventh-color);
    padding: 1rem;
    text-align: center;
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
}

.logo img {
    border-radius: 50px;
    width: 90px;
}

.logo {
    transition: transform 0.2s;
}

.logo:hover {
    transform: scale(0.8);
}

nav {
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.7);
    border-top: 0.5px solid var(--white-color);
    border-bottom: 0.5px solid var(--white-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--eighth-color);
    padding: 10px 0;
}


nav ul {
    line-height: 0;
    list-style-type: none;
    padding: 0;
    margin: 0px;
}

nav ul li {
    display: inline;
    margin: 0 12px;
    margin-bottom: 15px;
}

nav ul li a {
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    color: #ffffff;
    transition: color 0.3s, border-bottom-color 0.3s;
    border-bottom: 2px solid transparent;
    position: relative;
}

nav ul li a:before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: 0;
    left: 0;
    background-color: var(--white-color);
    visibility: hidden;
    transition: all 0.3s ease-in-out;
}

nav ul li a:hover {
    color: var(--white-color);
    border-bottom-color: var(--white-color);
}

nav ul li a:hover:before {
    visibility: visible;
    width: 100%;
}

nav ul li a.active {
    color: var(--white-color);
    border-bottom-color: var(--white-color);
}

.nav:hover {
    transform: translateY(-3px);
}

nav ul li img {
    margin-right: 5px;
    width: 25px;
    height: 25px;
}

.nav__item {
    transition: transform 0.3s ease;
    margin-right: 15px;
}

#hamburger {
    display: none;
}

input#toggle {
    display: none;
}

main {
    flex: 1;
    margin-top: 160px;
    margin-bottom: 100px;
}

#relativeTemplate{
    position: relative;
    width: 100%;
    height: 100%;
    height: 70vh;
}

#relativ, #background2 {
    position: absolute;
    border-radius: 50%;
    width: 300px;
    height: 300px;
}
#background3{
    box-shadow: #000000 0px 0px 20px 0px;
    margin-left: 600px;
    margin-top: 400px;
    width: 250px;
    height: 250px;
    border-radius: 50%;
    position: absolute;
}

#background2 {
    box-shadow: #000000 0px 0px 20px 0px;
    background-color: lightgrey;
    margin-left: 670px;
    margin-top: 150px;
    z-index: 2;
}

#relativ {
    box-shadow: #000000 0px 0px 20px 0px;
    margin-left: 500px;
    z-index: 1;
    background-color: rgba(44, 40, 40, 0.7)
}

#relativ2{
    position: absolute;
    background-color: whitesmoke;
    z-index: 4;
    margin-left: 400px;
    margin-top: 150px;
    box-shadow: #000000 0px 0px 20px 0px;
    border-radius: 5%;
    width: 300px;
    height: 300px;
}

#relativ2 h3{
    text-align: center;
    font-size: 1.5rem;
}

#relativ2 > ul > li{
    list-style-type: lower-greek;
    font-size: 1.2rem;
    margin-left: 20px;
}

#relativ2 > a{
    margin-left: 50px;
    border-radius: 20px;
    text-decoration: none;
    color: rgb(0, 0, 0);
    padding: 10px 10px;
    border: 1px solid rgb(49, 49, 49);
}

#relativ2 > a:hover{
    background-color: rgb(49, 49, 49);
    color: rgb(255, 255, 255);
}

#background3 {
    z-index: 3;
    background-color: var(--first-color);
}

.pattern-container {
    position: relative;
    width: 200px;
    height: 200px;
    background-color: rgba(140, 0, 255, 0.247); 
    border-radius: 50%;
  }

  .circle {
    position: absolute;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.3);
  }

  .circle:nth-child(1) {
    width: 100%;
    height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle:nth-child(2) {
    width: 80%;
    height: 80%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle:nth-child(3) {
    width: 60%;
    height: 60%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle:nth-child(4) {
    width: 40%;
    height: 40%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .circle:nth-child(5) {
    width: 20%;
    height: 20%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.about-us__container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 2rem;
    text-align: center;
}

.about-us__text {
    font-weight: bold;
    padding: 2rem;
    font-size: 2rem;
    color: var(--red-color);
    margin-bottom: 2rem;
    text-align: justify;
    transition: transform 0.3s ease;
}

.about-us__text:hover {
    transform: scale(0.8);
}

.about-us__textbox {
    max-width: 600px;
    margin: 0 auto;
}

.about-us__text {
    font-size: 1.1rem;
    line-height: 1.8;
    margin-bottom: 1rem;
    color: #333;
}

.about-us__link {
    font-size: 1.2rem;
    color: var(--red-color);
    text-decoration: underline;
}

.about-us__box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.about-us__img {
    width: 50%;
    max-width: 350px;
    height: auto;
    margin-right: 10px;
    margin-left: 10px;
    border-radius: 5px;
    margin-bottom: 1rem;
    transition: transform 0.3s ease;
}

.about-us__img:hover {
    transform: scale(0.8);
}


footer {
    padding-top: 1rem;
    background-color: var(--fifth-color);
    color: var(--white-color);
    text-align: center;
    width: 100%;
}

.footer__text {
    font-size: 1.2rem;
    color: var(--white-color);
}

.footer__link {
    color: var(--red-color);
    text-decoration: underline;
    transition: transform 0.3s ease;
}

.footer__link:hover {
    transform: scale(1.2);
    color: var(--red2-color);
}

.footer__link:visited {
    color: rgba(0, 0, 0, 0.7);
}

footer img {
    width: 30px;
    height: 30px;
    margin: 10px;
    transition: all 0.3s ease;
}

footer img:hover {
    transform: scale(1.2);
}

@media (max-width: 1000px){

    #relativ, #background2 {
        position: absolute;
        border-radius: 50%;
        width: 300px;
        height: 300px;
    }
    #background3{
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 300px;
        margin-top: 400px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
    }
    
    #background2 {
        box-shadow: #000000 0px 0px 20px 0px;
        background-color: lightgrey;
        margin-left: 340px;
        margin-top: 150px;
        z-index: 2;
    }
    
    #relativ {
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 300px;
        z-index: 1;
        background-color: rgba(44, 40, 40, 0.7)
    }
    
    #relativ2{
        position: absolute;
        background-color: whitesmoke;
        z-index: 4;
        margin-left: 150px;
        margin-top: 150px;
        box-shadow: #000000 0px 0px 20px 0px;
        border-radius: 5%;
        width: 300px;
        height: 300px;
    }
    
    #relativ2 h3{
        text-align: center;
        font-size: 1.5rem;
    }
    
    #relativ2 > ul > li{
        list-style-type: lower-greek;
        font-size: 1.2rem;
        margin-left: 20px;
    }
    
    #relativ2 > a{
        margin-left: 50px;
        border-radius: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        border: 1px solid rgb(49, 49, 49);
    }
    
    #relativ2 > a:hover{
        background-color: rgb(49, 49, 49);
        color: rgb(255, 255, 255);
    }
    
    #background3 {
        z-index: 3;
        background-color: var(--first-color);
    }
    
    .pattern-container {
        position: relative;
        width: 120px;
        height: 120px;
        background-color: rgba(140, 0, 255, 0.247); 
        border-radius: 50%;
      }
    
      .circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
      }
    
      .circle:nth-child(1) {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(2) {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(3) {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(4) {
        width: 40%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(5) {
        width: 20%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
}


@media (max-width: 768px) {

    .about-us__img {
        min-width: 300px;
    }

    .about-us__container {
        padding: 0rem;
    }

    #hamburger {
        display: flex;
        color: rgb(255, 255, 255);
        text-decoration: none;
        transition: transform 0.2s;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    #toggle {
        display: none;
        border: 0px;
    }

    nav{
        padding-top: 22px;
        margin-top: 20px;
        display: flex;
        align-items: flex-start;
        background-color: var(--eighth-color);
      }

      .navbar{
        padding: 0;
        align-items: normal;
        background-color: transparent;
        display: flex;
      }

    #toggle:checked ~ .navbar-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0px;
    }

    .navbar-links {
        display: none;
    }

    .nav ul li {
        display: block;
        margin: 0.5rem 0;
    }

    .header {
        margin-top: 60px;
    }

}

@media (max-width: 650px) {

    #relativeTemplate{
        height: 50vh;
    }

    #relativ, #background2 {
        position: absolute;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    #background3{
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 200px;
        margin-top: 200px;
        width: 250px;
        height: 250px;
        border-radius: 50%;
        position: absolute;
    }
    
    #background2 {
        box-shadow: #000000 0px 0px 20px 0px;
        background-color: lightgrey;
        margin-left: 320px;
        margin-top: 110px;
        z-index: 2;
    }
    
    #relativ {
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 200px;
        z-index: 1;
        background-color: rgba(44, 40, 40, 0.7)
    }
    
    #relativ2{
        position: absolute;
        background-color: whitesmoke;
        z-index: 4;
        margin-left: 70px;
        margin-top: 50px;
        box-shadow: #000000 0px 0px 20px 0px;
        border-radius: 5%;
        width: 220px;
        height: 250px;
    }
    
    #relativ2 h3{
        text-align: center;
        font-size: 1.5rem;
    }
    
    #relativ2 > ul > li{
        list-style-type: lower-greek;
        font-size: 1.0rem;
        margin-left: 20px;
    }
    
    #relativ2 > a{
        margin-left: 50px;
        border-radius: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        border: 1px solid rgb(49, 49, 49);
    }
    
    #relativ2 > a:hover{
        background-color: rgb(49, 49, 49);
        color: rgb(255, 255, 255);
    }
    
    #background3 {
        z-index: 3;
        background-color: var(--first-color);
    }
    
    .pattern-container {
        position: relative;
        width: 80px;
        height: 80px;
        background-color: rgba(140, 0, 255, 0.247); 
        border-radius: 50%;
      }
    
      .circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
      }
    
      .circle:nth-child(1) {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(2) {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(3) {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(4) {
        width: 40%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(5) {
        width: 20%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    .about-us__img {
        min-width: 300px;
    }

    
    .about-us__container {
        padding: 0rem;
    }
    
    #hamburger {
        display: flex;
        color: var(--white-color);
        text-decoration: none;
        transition: transform 0.2s;
        padding: 0px 10px;
        font-size: 1.5rem;
    }

    #toggle {
        display: none;
        border: 0px;
    }

    #toggle:checked ~ .navbar-links {
        display: flex;
        flex-direction: column;
        list-style-type: none;
        justify-content: space-evenly;
        padding: 0px;
    }

    .navbar-links {
        display: none;
    }

    .navbar {
        position: fixed;
        width: 100%;
        z-index: 1000;
        display: flex;
        flex-direction: column-reverse;
        align-content: flex-end;
        justify-content: flex-start;
        text-align: center;
    }
  

    .logo img {
        border-radius: 50px;
        width: 90px;
        margin-top: 0px;
    }

    .logo {
        position: relative;
        left: 0;
        transform: none;
        margin-bottom: 10px;
        transition: transform 0.2s;
    }

    .logo:hover {
        transform: scale(0.8);
    }

    .header {
        margin-top: 60px;
    }


    .navbar {
        justify-content: center;
        flex-wrap: wrap;
    }

    nav {
        padding-top: 22px;
        display: flex;
        justify-content: center;
        background-color: var(--eighth-color);
    }

    nav ul {
        width: 100%;
        justify-content: center;
    }

    nav ul li {
        width: 50%;
        text-align: center;
    }

    nav ul li a {
        display: flex;
        justify-content: center;
        font-size: 18px;
        font-weight: bold;
        text-decoration: none;
        color: var(--white-color);
        transition: color 0.3s, border-bottom-color 0.3s;
        border-bottom: 2px solid transparent;
        position: relative;
    }

    nav ul li a:before {
        content: "";
        position: absolute;
        width: 0;
        height: 2px;
        bottom: 0;
        left: 0;
        background-color: var(--white-color);
        visibility: hidden;
        transition: all 0.3s ease-in-out;
    }

    nav ul li a:hover {
        color: var(--white-color);
        border-bottom-color: var(--white-color);
    }

    nav ul li a:hover:before {
        visibility: visible;
        width: 100%;
    }

    nav ul li a.active {
        color: var(--white-color);
        border-bottom-color: var(--white-color);
    }

    .nav {
        position: relative;
        transition: transform 0.3s ease;
    }

    .nav:hover {
        transform: translateY(-3px);
    }

    .logo {
        position: absolute;
        top: 5px;
        left: 10%;
        transform: translateX(-50%);
    }

    .logo img {
        margin-left: 20px;
    }
}

@media (max-width: 530px){
    #relativeTemplate{
        height: 50vh;
    }

    #relativ, #background2 {
        position: absolute;
        border-radius: 50%;
        width: 200px;
        height: 200px;
    }
    #background3{
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 100px;
        margin-top: 270px;
        width: 150px;
        height: 150px;
        border-radius: 50%;
        position: absolute;
    }
    
    #background2 {
        box-shadow: #000000 0px 0px 20px 0px;
        background-color: lightgrey;
        margin-left: 170px;
        margin-top: 70px;
        z-index: 2;
    }
    
    #relativ {
        box-shadow: #000000 0px 0px 20px 0px;
        margin-left: 100px;
        z-index: 1;
        background-color: rgba(44, 40, 40, 0.7)
    }
    
    #relativ2{
        position: absolute;
        background-color: whitesmoke;
        z-index: 4;
        margin-left: 70px;
        margin-top: 50px;
        box-shadow: #000000 0px 0px 20px 0px;
        border-radius: 5%;
        width: 180px;
        height: 250px;
    }
    
    #relativ2 h3{
        text-align: center;
        font-size: 1.5rem;
    }
    
    #relativ2 > ul > li{
        list-style-type: lower-greek;
        font-size: 1.0rem;
        margin-left: 20px;
    }
    
    #relativ2 > a{
        margin-left: 35px;
        border-radius: 20px;
        text-decoration: none;
        color: rgb(0, 0, 0);
        padding: 10px 10px;
        border: 1px solid rgb(49, 49, 49);
    }
    
    #relativ2 > a:hover{
        background-color: rgb(49, 49, 49);
        color: rgb(255, 255, 255);
    }
    
    #background3 {

        z-index: 3;
        background-color: var(--first-color);
    }
    
    .pattern-container {
        position: relative;
        width: 80px;
        height: 80px;
        background-color: rgba(140, 0, 255, 0.247); 
        border-radius: 50%;
      }
    
      .circle {
        position: absolute;
        border-radius: 50%;
        background: rgba(255, 255, 255, 0.3);
      }
    
      .circle:nth-child(1) {
        width: 100%;
        height: 100%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(2) {
        width: 80%;
        height: 80%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(3) {
        width: 60%;
        height: 60%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(4) {
        width: 40%;
        height: 40%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    
      .circle:nth-child(5) {
        width: 20%;
        height: 20%;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

    
}